<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <script type=text/javascript src="http://api.map.baidu.com/api?v=2.0&ak=sNnP7YXi3CTvq968oVnoeoP599l0Yz3M"></script>

        <title>layer</title>

        <link href=/web/css/app.81c4072d930d9bf2e3bff5764f3f3699.css rel=stylesheet>
    </head>

    <body style=margin:0>

    <div id=app></div>
        <script type=text/javascript src=/web/js/manifest.3ad1d5771e9b13dbdad2.js></script>
        <script type=text/javascript src=/web/js/vendor.b9f1146fcea81be5c70b.js></script>
        <script type=text/javascript src=/web/js/app.4c1968505991ccdf2f51.js></script>
    </body>
</html>