<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>添加罪名分类</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>

<body>
<input th:value="${res}" id="error" type="hidden"/>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div  class="layui-col-md12">
            <div class="layui-card" style="position: relative;">
                <div class="layui-card-header">罪名分类问答</div>
                <div class="layui-card-body">
                    <div style="margin-top:20px">
                        <form class="layui-form" style="margin-top: 20px;" method="post" action="/insertData/insertOneChargeTypeQuestion">
                            <div class="layui-form-item">
                                <label class="layui-form-label">罪名分类</label>
                                <div class="layui-input-block">
                                    <select name="chargeTypeName" lay-verify="required" id="select">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">问题</label>
                                <div class="layui-input-block">
                                    <textarea name="question" placeholder="请输入" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">回答</label>
                                <div class="layui-input-block">
                                    <textarea name="answer" placeholder="请输入" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                                </div>
                            </div>
                        </form>
                        <a style="position: absolute;left: 250px;bottom: 25px;" href="/getPage/base/answerLawMgr"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'upload', 'jquery','layer'], function() {
        var form = layui.form,
            layer=layui.layer,
            $ = layui.$,
            upload = layui.upload;
        var error = $('#error').val()
        if(error!=''){
            layer.alert(error)
        }
        $.ajax({
            url:'/selectData/listChargeTypeName',
            method:'get',
            success:function(data){
                // console.log(data)
                $('#select').append("<option value></option>")
                for(var i=0;i<data.length;i++){
                    $('#select').append("<option>"+data[i]+"</option>")
                    form.render('select')
                }
            },
            error:function(data){
                alert(data)
            }
        })
    });
</script>
</body>

</html>