<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加用户</title>
		<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
	</head>

	<body>
		<form class="layui-form" style="margin-top: 20px;">
			<div class="layui-form-item">
				<label class="layui-form-label">ID</label>
				<div class="layui-input-block">
					<input type="text" name="" placeholder="请输入" style="width: 200px;" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-block">
					<input type="text" name="" placeholder="请输入" style="width: 200px;" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">IP</label>
				<div class="layui-input-block">
					<input type="number" name="" placeholder="请输入" style="width: 200px;" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">留言内容</label>
				<div class="layui-input-block">
					<textarea style="width: 300px;" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
		<script src="/layuiadmin/layui/layui.js"></script>
		<script>
			layui.use(['form', 'upload'], function() {
				var form = layui.form,
					upload = layui.upload;
				var uploadInst = upload.render({
					elem: '#test1' //绑定元素
						,
					url: '' //上传接口
						,
					auto: false,
					done: function(res) {
						//上传完毕回调
					},
					error: function() {
						//请求异常回调
					}
				});

				//各种基于事件的操作，下面会有进一步介绍
			});
		</script>
	</body>

</html>