<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>案例添加</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <style>
        #colla_img img{
            width: 300px;
            height: 200px
        }
    </style>
</head>

<body>
<input th:value="${msg}" id="error" type="hidden"/>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" style="position: relative;">
                <div class="layui-card-header">案例添加</div>
                <div class="layui-card-body">
                    <div style="margin-top:20px">
                        <form class="layui-form" style="margin-top: 20px;" method="post" action="/insertData/insertOneCase">
                            <div class="layui-form-item">
                                <label class="layui-form-label">罪名分类</label>
                                <div class="layui-input-block" >
                                    <select lay-filter="test"  name="typeExpand" id="selectT" lay-verify="required">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">罪名名称</label>
                                <div class="layui-input-block">
                                    <select  name="chargeName" lay-verify="required" id="selectName">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">案例标题</label>
                                <div class="layui-input-block">
                                    <input type="text"  required lay-verify="required" name="title" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">案例介绍</label>
                                <div class="layui-input-block">
                                    <textarea required name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">办案过程</label>
                                <div class="layui-input-block">
                                    <textarea required name="process" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">结果</label>
                                <div class="layui-input-block">
                                    <textarea required name="result" placeholder="请输入内容" class="layui-textarea"></textarea>

                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">经验心得</label>
                                <div class="layui-input-block">
                                    <textarea required name="lessions" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">是否成功</label>
                                <div class="layui-input-block">
                                    <select  name="successFlag" lay-verify="required" id="isSuccess">
                                        <option value=""></option>
                                        <option value="1">成功</option>
                                        <option value="0">失败</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">案例图片</label>
                                <div class="layui-input-block">
                                    <div id="colla_img" style="width: 300px; height: 200px; border: 1px solid #E0E0E0;"></div>
                                    <button type="button" class="layui-btn" id="test1" style="margin-top: 10px;">
                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                    </button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                                </div>
                            </div>
                        </form>
                        <a style="position: absolute;left: 250px;bottom: 25px;" href="/getPage/base/caseMgr"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'upload', 'jquery'], function() {
        var form = layui.form,
            layer=layui.layer,
            $ = layui.$,
            upload = layui.upload;
        var error =$('#error').val()
        if(error!=''){
            layer.alert(error)
        }
        upload.render({
            elem: '#test1',
            url: 'upload',
            size: 2048,
            auto: false //选择文件后不自动上传
            ,
            // bindAction: '#save' //指向一个按钮触发上传
            choose: function(obj) {
                //预读本地文件
                var number = $('#colla_img').children().length
                console.log(number)
                if(number>0){
                    $('#showImg').remove()
                }
                obj.preview(function(index, file, result) {
                    $('#loadinput').val(file.name); //展示文件名
                    $('#colla_img').append('<a href="#" onclick="openImg()"><img id="showImg" src="' + result + '" width="370px"></a> ');
                })
            }
        });
        $.ajax({
            url:'/selectData/getLinkageDate',
            method:'get',
            success:function(data){
                var html = '';
                console.log(data)
                var len = data.data.length;
                $('#selectT').append('<option value="请选择">请选择</option>')
                for(var i = 0 ; i< len;i++){
                    $('#selectT').append('<option value="'+ data.data[i].chargeTypeName +'">'+ data.data[i].chargeTypeName +'</option>')
                }
                form.render('select')
                form.on('select(test)', function(realData){
                    $("#selectName").empty();
                    form.render('select')
                    console.log(realData.value)
                    for(var k = 0 ; k< len;k++){
                        if(data.data[k].chargeTypeName == realData.value) {
                            data.data[k].chargeNames.forEach(function(item,index){
                                var selectName = $('#selectName')
                                selectName.append('<option  id="hahah" value="'+ item +'">'+ item +'</option>')
                            });
                            form.render('select')
                        }
                    }
                });
            },
            error:function(data){
                alert(data)
            }
        })
    });
</script>
</body>

</html>