<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>添加罪名分类</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" style="position: relative;">
                <div class="layui-card-header">罪名分类添加表</div>
                <div class="layui-card-body">
                    <div style="margin-top:20px">
                        <form class="layui-form" style="margin-top: 20px;" method="post" action=""  enctype="multipart/form-data">
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 100px">罪名分类名称</label>
                                <div class="layui-input-block">
                                    <input style="width: 930px" type="text" name="lawyerName" placeholder="请输入" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                                </div>
                            </div>
                        </form>
                        <a style="position: absolute;left: 250px;bottom: 25px;" href="/getPage/base/classificationMgr"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'upload', 'jquery'], function() {
        var form = layui.form,
            $ = layui.$,
            upload = layui.upload;
    });
</script>
</body>

</html>