<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>罪名表</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css"/>
</head>

<body>
<div class="layui-fluid" style="margin-top: 20px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">罪名表</div>
                <div class="layui-card-body">
                    <div class="demoTable" style="margin-bottom: 20px;margin-left: 10px">
                        罪名名称:
                        <div class="layui-inline" style="margin-right: 20px">
                            <input class="layui-input" name="customerName"  id="demoReload" autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload">搜索</button>
                        <div class="layui-inline">
                            <input type="hidden" value="0" class="layui-input" name="hiddenFlag" id="demoReloadHi" autocomplete="off">
                        </div>
                    </div>
                    <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar">
                    </table>
                    <script type="text/html" id="zizeng">
                        {{d.LAY_TABLE_INDEX+1}}
                    </script>
                    <script type="text/html" id="test-table-toolbar-toolbarDemo">
                        <div class="layui-btn-container">
                            <a href="/getPage/base/addCharge"><button class="layui-btn layui-btn-sm" >添加</button></a>
                        </div>
                    </script>

                    <script type="text/html" id="test-table-toolbar-barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload','jquery'], function() {
        var admin = layui.admin,
            $=layui.$,
            table = layui.table,
            upload = layui.upload;
        table.render({
            elem: '#test-table-toolbar',
            url: '/selectData/chargePageData',
            toolbar: '#test-table-toolbar-toolbarDemo',
            title: '用户数据表',
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                groups: 3, //只显示 1 个连续页码,
                first: false, //不显示首页,
                last: false, //不显示尾页
                limit: 10

            },
            cols: [
                [{
                    field: 'zizeng',
                    width: 100,
                    title: '编号',
                    fixed: 'left',
                    templet: '#zizeng'
                },
                    {
                        field: 'chargeName',
                        title: '罪名名称',
                        width:120
                    }, {
                    field: 'lawContent',
                    title: '法律规定',
                    width: 120,
                }, {
                    field: 'sentenceRange',
                    title: '量刑范围',
                    width: 120
                },
                    {
                        field: 'defense',
                        title: '辩护流程与方案',
                    },
                    {
                        field: 'editDate',
                        title: '编辑时间',
                        width: 120
                    },
                    {
                        field: 'count',
                        title: '浏览次数',
                        width: 120
                    },
                    {
                    title: '操作',
                    toolbar: '#test-table-toolbar-barDemo',
                    width: 200
                }
                ]
            ],
            id:'testTable'
        });
        //头工具栏事件
        var demoReload = document.getElementById('demoReload')
        var $ = layui.$, active = {
            reload: function(){
                table.reload('testTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:'/selectData/chargePageData?chargeName='+demoReload.value,
                    method:"get"
                }, 'data');
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        table.on('toolbar(test-table-toolbar)', function(obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
            };
        });
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,
            url: '' //上传接口
            ,
            auto: false //选择文件后不自动上传
            ,
            bindAction: '#testListAction',
            done: function(res) {
                //上传完毕回调
            },
            error: function() {
                //请求异常回调
            }
        });

        //监听行工具事件
        table.on('tool(test-table-toolbar)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del') {
                layer.confirm('罪名对应的所有案例会一并删除', function(index) {
                    $.ajax({
                        url:'/deleteData/deleteOneChargeById?id='+data.id,
                        method:'get',
                        success:function(data){
                            if(data == true){
                                obj.del();
                                layer.close(index);
                                window.location.href='/getPage/base/chargeMgr'
                            }
                        },
                        error:function (data) {
                            alert('删除失败')
                        }
                    })
                });
            } else if(obj.event === 'edit') {
                var data = obj.data;
                window.location.href = "/getPage/base/editChargeMgr.html?id=" + data.id
            }
        });

    });
</script>
</body>

</html>