<!DOCTYPE html>
<html xmlns:shiro="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>罪名分类表</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css"/>
</head>

<body>
<div class="layui-fluid"  style="margin-top: 20px">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">罪名分类表</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar">
                    </table>
                    <script type="text/html" id="zizeng">
                        {{d.LAY_TABLE_INDEX+1}}
                    </script>
                    <script type="text/html" id="test-table-toolbar-toolbarDemo">
                        <div class="layui-btn-container">
                            <a href="/getPage/base/addclassificationMgr"><button class="layui-btn layui-btn-sm" >添加</button></a>
                        </div>
                    </script>

                    <script type="text/html" id="test-table-toolbar-barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload','jquery'], function() {
        var admin = layui.admin,
            $=layui.$,
            table = layui.table,
            upload = layui.upload;
        table.render({
            elem: '#test-table-toolbar',
            url: '/selectData/charTypePageData',
            toolbar: '#test-table-toolbar-toolbarDemo',
            title: '用户数据表',
            page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                groups: 3, //只显示 1 个连续页码,
                first: false, //不显示首页,
                last: false, //不显示尾页
                limit: 10

            },
            cols: [
                [{
                    field: 'zizeng',
                    width: 150,
                    title: '编号',
                    fixed: 'left',
                    templet: '#zizeng'
                },
                    {
                        field: 'chargeTypeName',
                        title: '罪名分类名称',
                    }, {
                    field: 'editDate',
                    title: '编辑时间',
                    width: 150,
                }, {
                    field: 'count',
                    title: '浏览次数',
                    width: 150
                }, {
                    title: '操作',
                    toolbar: '#test-table-toolbar-barDemo',
                    width: 200
                }
                ]
            ],
            id:'testTable'
        });
        var demoReload = document.getElementById('demoReload')
        var $ = layui.$, active = {
            reload: function(){
                table.reload('testTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:'/selectData/searchByName?name='+demoReload.value,
                    method:"get"
                }, 'data');
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,
            url: '' //上传接口
            ,
            auto: false //选择文件后不自动上传
            ,
            bindAction: '#testListAction',
            done: function(res) {
                //上传完毕回调
            },
            error: function() {
                //请求异常回调
            }
        });

        //监听行工具事件
        table.on('tool(test-table-toolbar)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del') {
                layer.confirm('真的删除行么', function(index) {
                    $.ajax({
                        url:'/deleteData/deleteOneChargeType?id='+data.id,
                        method:'get',
                        success:function(data){
                            if(data==true){
                                obj.del();
                                layer.close(index);
                                window.location.href='/getPage/base/classificationMgr'
                            }
                        },
                        error:function (data) {
                            alert('删除失败')
                        }
                    })
                });
            } else if(obj.event === 'edit') {
                var data = obj.data;
                window.location.href = "/getPage/base/editclassificationMgr?id=" + data.id
            }
        });

    });
</script>
</body>

</html>