<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文集</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">事务所介绍</div>
				<div class="layui-card-body">
					<div class="demoTable" style="margin-bottom: 20px">
						作者
						<div class="layui-inline" style="margin-right: 60px">
							<input class="layui-input" name="author" id="demoReloadAuthor" autocomplete="off">
						</div>
						<form class="layui-form" style="display: inline-block">
							文集类型
							<div class="layui-input-inline">
								<select name="typeExpand" id="demoReloadTypeExpand" lay-verify="required">
									<option value=""></option>
									<option value="公司法律">公司法律</option>
									<option value="劳动法律">劳动法律</option>
									<option value="形式法律">形式法律</option>
								</select>
							</div>
						</form>
						<button style="margin-left: 10px" class="layui-btn" data-type="reload">搜索</button>
					</div>
					<table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar">
					</table>
					<script type="text/html" id="zizeng">
						{{d.LAY_TABLE_INDEX+1}}
					</script>
					<script type="text/html" id="test-table-toolbar-toolbarDemo">
						<div class="layui-btn-container">
							<a href="/getPage/base/collectionAdd"><button class="layui-btn layui-btn-sm">添加</button></a>
						</div>
					</script>

					<script type="text/html" id="test-table-toolbar-barDemo">
						<a class="layui-btn  layui-btn-xs" lay-event="edit">编辑</a>
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					</script>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>
<script>
	layui.config( { base: '../../layuiadmin/'} )
        .extend( {index: 'lib/index'} )
        .use
        (
            ['index', 'table','jquery'],
            function()
            {
		        var admin = layui.admin;
				var $=layui.$;
				var table = layui.table;

                table.render
                (
                    {
                        elem: '#test-table-toolbar',
                        url: '/selectData/articlePageData',
                        toolbar: '#test-table-toolbar-toolbarDemo',
                        title: '团队文集',
                        page:
                        {
                            layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                            groups: 3 ,//只显示 1 个连续页码,
                            limit: 10
                        },
                        cols:
                        [
                            [
                                {field:'zizeng', width:80, title: '编号', fixed: 'left', templet:'#zizeng'},
                                {field: 'typeExpand', title: '文集类型', width: 100,},
                                {field: 'articleTitle', title: '文章名字', width: 100},
                                {field:'author', title:'作者名字', width:100},
                                {field:'intro', title:'文集简介'},
                                {field:'editDate', title:'编辑时间', width:100},
                                {field:'count', title:'浏览次数', width:100},
                                {title: '操作', toolbar: '#test-table-toolbar-barDemo', width: 120}
                            ]
                        ]
                        ,id: 'testReload'
                    }
                );

                var $ = layui.$;
                var active =
                {
                    reload: function()
                    {
                        var demoReloadAuthor = $('#demoReloadAuthor');
                        var demoReloadTypeExpand=$('#demoReloadTypeExpand');

                        //执行重载
                        table.reload
                        (
                            'testReload',
                            {
                                page: {curr: 1}, //重新从第 1 页开始
                                url:'/selectData/articlePageData?author='+demoReloadAuthor.val()+'&typeExpand='+demoReloadTypeExpand.val(),
                                method:'get'
                            },
                            'data'
                        );
                    }
                };

                $('.demoTable .layui-btn').on
                (
                    'click', function()
                    {
                        var type = $(this).data('type');
                        console.log(type);
                        active[type] ? active[type].call(this) : '';
                    }
                );

                //头工具栏事件
                table.on
                (
                    'toolbar(test-table-toolbar)',
                    function(obj)
                    {
                        var checkStatus = table.checkStatus(obj.config.id);
                        switch(obj.event)
                        {
                            case 'getCheckData':
                                var data = checkStatus.data;
                                layer.alert(JSON.stringify(data));
                                break;
                            case 'getCheckLength':
                                var data = checkStatus.data;
                                layer.msg('选中了：' + data.length + ' 个');
                                break;

                        }
                    }
                );

                //监听行工具事件
                table.on
                (
                    'tool(test-table-toolbar)',
                    function(obj)
                    {
                        var data = obj.data;
                        if(obj.event === 'del')
                        {
                            layer.alert('真的删除行么', function(index)
                            {
                                $.ajax
                                (
                                    {
                                        url: '/deleteData/article?id='+data.articleId,
                                        type: "get",
                                        success: function(data)
                                        {
                                            layer.close(index);
                                            if(data == "success")
                                            {
                                                obj.del();
                                                window.location.href='/getPage/base/collectionMgr';
                                            }
                                        }
                                    }
                                )
                            });
                        }
                        else if(obj.event === 'edit')
                        {
                            window.location.href="/getPage/base/editCollection?id=" + data.articleId
                        }
                    }
                );
	        }
	    );
</script>
</body>

</html>