<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<title>消息中心</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>

<body>

<div class="layui-fluid" id="LAY-app-message">
	<div class="layui-card">
		<div class="layui-card-header">留言列表</div>
		<div class="layui-tab layui-tab-brief">
			<div class="layui-tab-content">
				<div class="layui-tab-item-show">
					<div class="demoTable" style="margin-bottom: 20px;">
						客户姓名:
						<div class="layui-inline" style="margin-right: 20px">
							<input class="layui-input" name="customerName" placeholder="不填写默认显示全部" id="demoReload" autocomplete="off">
						</div>
						案情描述:
						<div class="layui-inline">
							<input class="layui-input" name="desc" id="demoReloadAn" placeholder="不填写默认显示全部" autocomplete="off">
						</div>
						<button class="layui-btn" data-type="reload">搜索</button>
						<div class="layui-inline">
							<input type="hidden" value="0" class="layui-input" name="hiddenFlag" id="demoReloadHi" autocomplete="off">
						</div>
					</div>
					<table style="position: relative" event="clickA" id="LAY-app-message-notice" lay-filter="LAY-app-message-notice">
						<div class="search" style="position: absolute;z-index: 1000;top:143px;left:40px">
							<button class="layui-btn layui-btn-primary layui-btn-sm" data-type="reload"  id="all">全部</button>
							<button class="layui-btn layui-btn-primary layui-btn-sm" data-type="reload"  id="other">未读</button>
						</div>
					</table>
					<script type="text/html" id="zizeng">
						{{d.LAY_TABLE_INDEX+1}}
					</script>
					<script type="text/html" id="test-table-toolbar-barDemo">
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					</script>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>
<script>
	var demoReloadHi = document.getElementById('demoReloadHi')
	var demoReload= document.getElementById('demoReload')
	var demoReloadAn = document.getElementById('demoReloadAn')
	var all = document.getElementById('all');
	var other = document.getElementById('other');
	layui.config({
		base: '../../layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(['index', 'message', 'table','jquery'], function() {
		var table = layui.table,
		$ = layui.$
		;
		//1表示全部
		$('.demoTable .layui-btn').on('click', function(){
			demoReloadHi.value='0'
			all.style.background=''
			other.style.background=''
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
		$('#all').on('click', function(){
			all.style.background='blue'
			all.style.border=0
			other.style.background=''
			demoReload.value=''
			demoReloadAn.value=''
			demoReloadHi.value='0'
			console.log('你点击了全部')
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';

		});
		$('#other').on('click', function(){
			other.style.background='blue'
			all.style.background=''
			other.style.border=0
			demoReload.value=''
			demoReloadAn.value=''
			demoReloadHi.value='1'
			console.log('点击了局部')
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';


		});
		var $ = layui.$, active = {
			reload: function(){
				table.reload('testTable', {
					page: {
						curr: 1 //重新从第 1 页开始
					},
					url:'/selectData/msgBoardPageData?name='+demoReload.value+'&detail='+demoReloadAn.value+'&flag='+demoReloadHi.value,
					method:"get"
				}, 'data');
			}
		};
		table.render({
			elem: '#LAY-app-message-notice',
			url: '/selectData/msgBoardPageData',
			toolbar: '#test-table-toolbar-toolbarDemo',
			skin: 'line' ,//行边框风格
			page:
					{ //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
						layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
						groups: 3 ,//只显示 1 个连续页码,
						limit: 10
					},
			title: '留言管理',
			cols: [
				[
					{
						field: 'zizeng',
						width: 80,
						title: '编号',
						fixed: 'left',
						templet: '#zizeng'
					},
					{
						field: 'customerName',
						title: '客户姓名',
						width: 100
					}, {
					field: 'customerTel',
					title: '客户电话',
					width: 100
				}, {
					field: 'caseDetail',
					title: '案情描述',
					event:'clickA'
				}, {
					field: 'createDate',
					title: '创建时间',
					width: 100
				},{
					field:'replyName',
					title:'回复律师名',
					width:100
				},{
					field:'replyDate',
					title:'回复时间',
					width:100
				},{
					title: '操作',
					toolbar: '#test-table-toolbar-barDemo',
					width: 120
				}]
			],
			id:'testTable',
			limit:10
		});

		table.on('tool(LAY-app-message-notice)', function(obj) {
			var data = obj.data;
			if(obj.event === 'del') {
				layer.alert('真的删除行么', function(index) {
					$.ajax({
						url:'/deleteData/deleteOneMsgById?id='+data.msgId,
						method:'get',
						success:function(data){
							if(data=='success'){
								layer.close(index)
								obj.del()
								window.location.href='/getPage/base/commentMgr'
							}
						}
					})
				});
			}else if(obj.event === 'clickA'){
				window.location.href="/getPage/base/editCarousel.html?id="+data.msgId
			}
		});
	});
</script>
</body>

</html>