<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>罪名</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>

<body>

<input th:value="${res}" id="error" type="hidden"/>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" style="position: relative;">
                <div class="layui-card-header">罪名表</div>
                <div class="layui-card-body">
                    <div style="margin-top:20px">
                        <form class="layui-form" action="/updateData/editChargeById" method="post">
                            <input th:value="${id}" name="id" id="temp-id"  type="hidden"/>
                            <div class="layui-form-item">
                                <label class="layui-form-label">罪名名称</label>
                                <div class="layui-input-block">
                                    <input type="text" id="firs" required lay-verify="required" name="chargeName" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">法律规定</label>
                                <div class="layui-input-block">
                                    <input type="text" id="sec" required lay-verify="required" name="lawContent" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">量刑范围</label>
                                <div class="layui-input-block">
                                    <input type="text" id="thr" required lay-verify="required" name="sentenceRange" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">辩护流程与方案</label>
                                <div class="layui-input-block">
                                    <input type="text" required lay-verify="required" name="defense" id="fou" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                </div>
                            </div>
                        </form>
                        <a style="position: absolute;left: 250px;bottom: 25px;" href="/getPage/base/chargeMgr"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 表单结束 -->

<script src="/layuiadmin/layui/layui.js"></script>

<script>
    var error = $('#error').val()
    var value = $('#temp-id').val()
    $.ajax
    (
        {
            url: '/selectData/getOneChargeById?id=' + value,
            type: "get",
            dataType: "json",
            success: function(data)
            {
                console.log(data)
                document.getElementById("firs").value = data.data[0].chargeName;
                document.getElementById('sec').value = data.data[0].lawContent;
                document.getElementById('thr').value = data.data[0].sentenceRange;
                document.getElementById('fou').value = data.data[0].defense;
            }
        }
    );
    layui.use(['jquery','form','layer'], function() {
        var $ = layui.$, form=layui.form,layer=layui.layer;
        if(error!=''){
            layer.alert(error)
        }

    })
</script>

</body>

</html>