<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">

<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card" style="position: relative;">
				<div class="layui-card-header" style="height:80px;padding-top: 10px;padding-left: 20px;line-height: 30px;" >
					<h1 style="font-size: 16px;" id="hname"></h1>
					<p style="color:#999;line-height: 30px;"><span id="spane"></span></p>
				</div>
				<div class="layui-card-body">
					<div id="dd">
					</div>
					<form style="margin:20px 0 20px 0;">
						<div>
							<textarea id="editor_id" name="content" style="width:100%;height:300px;"></textarea>
						</div>
						<div style="margin-top:20px">
							<button class="layui-btn" lay-submit lay-filter="formDemo">回复</button>
						</div>
					</form>
					<a style="position: absolute;left: 100px;bottom: 30px;" href="./commentMgr.html"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script src="/layuiadmin/kindeditor/kindeditor-all-min.js"></script>
<script src="/layuiadmin/kindeditor/lang/zh-CN.js"></script>
<script>
	var dd = document.getElementById('dd');
	var time = document.getElementById('time')
	var hname = document.getElementById("hname")
	var spane = document.getElementById("spane")
	KindEditor.ready(function(K) {
		window.editor = K.create('#editor_id');
	});

	function filterId(str) {
		var newStr = str.split('?')[1].split('=')[1]
		return newStr
	}
	var idr = filterId(location.href)
	layui.use(['layer', 'jquery'], function() {
		var layer = layui.layer,
				$ = layui.$;
		$.ajax({
			url: '/getMsgBoardData',
			type: "get",
			dataType: "json",
			success: function(data) {
				var data = data.data
				for(var i = 0; i < data.length; i++) {
					if(data[i].msgId == idr) {
						hname.innerHTML=data[i].customerName
						spane.innerHTML=data[i].createDate
						dd.innerHTML = "<div id='main'>" +
								"<p style='text-indent:25px'>" +
								"" + data[i].caseDetail + "" +
								"</p>" +
								"</div>"
					}
				}
			}
		})
	})
</script>
</body>

</html>