<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<title>用户编辑</title>
	<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>

<body>
<input th:value="${id}" id="temp-id" type="hidden"/>
<input th:value="${res}" id="error"/>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card" style="position: relative;">
				<div class="layui-card-header">用户列表编辑</div>
				<div class="layui-card-body">
					<div id="dd">
					</div>
					<form class="layui-form" action="/root/editOneUser" method="post">
						<input type="hidden" id="yincang" name="id">
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">用户名</label>
							<div class="layui-input-block">
								<input type="text"  id="loginName" name="loginName" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">真实姓名</label>
							<div class="layui-input-block">
								<input type="text" id="realName" name="realName" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">手机</label>
							<div class="layui-input-block">
								<input type="text" id="phone" name="userTel" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">邮箱</label>
							<div class="layui-input-block">
								<input type="text" id="email" name="email" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">性别</label>
							<div class="layui-input-block" id="check">
								<input type="radio" name="gender" value="男" title="男" id="first">
								<input type="radio" name="gender" value="女" title="女">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">职位</label>
							<div class="layui-input-block">
								<input type="text" id="posi" name="position" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" type="submit" lay-filter="formDemo">立即提交</button>
							</div>
						</div>
					</form>
					<a style="position: absolute;left: 250px;bottom: 25px;" href="./userMgr.html"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script src="/layuiadmin/kindeditor/kindeditor-all-min.js"></script>
<script src="/layuiadmin/kindeditor/lang/zh-CN.js"></script>
<script>
	var error = document.getElementById('error')
	var temp = document.getElementById('temp-id').value;
	layui.use(['jquery', 'form', 'upload','layer'], function() {
		var $ = layui.$,
				upload = layui.upload,
				$=layui.$,
				form = layui.form;
		if(error!=''){
			layer.alert('编辑失败')
		}
		$.ajax({
			url: '/selectData/getOneUserById?id='+temp,
			type: "get",
			dataType: "json",
			success: function(data) {
				var data = data.data[0]
				document.getElementById('loginName').value=data.loginName
				document.getElementById('phone').value=data.userTel
				document.getElementById('realName').value=data.realName
				document.getElementById("email").value=data.email
				document.getElementById('posi').value = data.position
				var nameArr = document.getElementsByName("gender")
				if(data.gender == "男"){
					nameArr[0].checked="checked"
					form.render('radio')
				}else {
					nameArr[1].checked="checked"
					form.render('radio')
				}

				console.log(data)
			}
		});
	});
</script>
</body>

</html>