<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>用户编辑</title>
	<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card" style="position: relative;">
				<div class="layui-card-header">用户列表编辑</div>
				<div class="layui-card-body">
					<div id="dd">
					</div>
					<form class="layui-form" action="/root/editOneUser" method="post">
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">用户名</label>
							<div class="layui-input-block">
								<input type="text" id="loginName" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">手机</label>
							<div class="layui-input-block">
								<input type="text" id="phone" name="userTel" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">邮箱</label>
							<div class="layui-input-block">
								<input type="text" id="email" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">性别</label>
							<div class="layui-input-block" id="check">
								<input type="radio" name="gender" value="男" title="男" id="first">
								<input type="radio" name="gender" value="女" title="女">
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" type="submit" lay-filter="formDemo">立即提交</button>
							</div>
						</div>
					</form>
					<a style="position: absolute;left: 250px;bottom: 25px;" href="./userMgr.html"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script src="/layuiadmin/kindeditor/kindeditor-all-min.js"></script>
<script src="/layuiadmin/kindeditor/lang/zh-CN.js"></script>
<script>
	function filterId(str) {
		var newStr = str.split('?')[1].split('=')[1]
		return newStr
	}
	var idr = filterId(window.location.href)
	layui.use(['jquery', 'form', 'upload'], function() {
		var $ = layui.$,
				upload = layui.upload,
				form = layui.form;
		$.ajax({
			url: '/selectData/getUserData',
			type: "get",
			dataType: "json",
			success: function(data) {
				var data = data.data
				console.log(idr)
				for(var i = 0; i < data.length; i++) {
					console.log(data[i].id)
					if(data[i].id == idr){
						document.getElementById('loginName').value=data[i].loginName
						document.getElementById('phone').value=data[i].userTel
						document.getElementById("email").value=data[i].email
						var nameArr = document.getElementsByName("gender")
						if(data[i].gender == "男"){
							nameArr[0].checked="checked"
//									nameArr[0].checked="checked"
							form.render('radio')
						}else {
							nameArr[1].checked="checked"
//									nameArr[0].checked="checked"
							form.render('radio')
						}
					}
				}
			}
		});
	});
</script>
</body>

</html>