<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        #colla_img img{
            width: 300px;
            height: 200px
        }
    </style>

    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>

<body>

<!-- 表单开始 -->
<div class="layui-fluid">
    <input id="error" type="hidden" th:value="${msg}" />
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" style="position: relative;padding-bottom: 10px;">
                <div class="layui-card-header">刑事优势表</div>
                <form class="layui-form" action="/updateData/editOneDefenseAdvantage"  method="post" enctype="multipart/form-data" style="margin: 20px 0 0 28px;">
                    <input id="temp-id" type="hidden" th:value="${id}" name="id"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label" >标题</label>
                        <div class="layui-input-block">
                            <input type="text"  name="title" required lay-verify="required"  autocomplete="off" id="title" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                            <textarea  placeholder="请输入" name="content" id="content" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">形辩图标</label>
                        <div class="layui-input-block">
                            <div   id="colla_img"  style="width: 300px; height: 200px; border: 1px solid #E0E0E0;"></div>
                            <button type="button" class="layui-btn" id="test1" style="margin-top: 10px;">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        </div>
                    </div>
                </form>
                <a style="position: absolute;left: 250px;bottom: 25px;" href="/getPage/base/criminalAdvantageMgr"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
            </div>
        </div>
    </div>
</div>
<!-- 表单结束 -->

<script src="/layuiadmin/layui/layui.js"></script>
<script>
    var colla_img = document.getElementById("colla_img");
    var error = $('#error').val()

    // ajax回填数据
    $.ajax
    (
        {
            url: '/selectData/getOneDefenseAdvantageById?id='+ document.getElementById('temp-id').value,
            type: "get",
            dataType: "json",
            success: function(data)
            {
                if (data.code === 0)
                {
                    document.getElementById('title').value = data.data[0].title;
                    document.getElementById('content').value = data.data[0].content;
                    colla_img.style.background='url(' + data.data[0].icon + ')';
                    colla_img.style.backgroundSize= '100%';
                    console.log(data.data[0].icon)
                }
            }
        }
    );

    layui.use
    (
        ['layer', 'jquery','form','upload'],
        function()
        {
            var upload=layui.upload;
            var layer = layui.layer;
            var $ = layui.$;
            if(error!=''){
                layer.alert(error)
            }
            upload.render
            (
                {
                    elem: '#test1',
                    url: 'upload',
                    size:2048,
                    auto: false, //选择文件后不自动上传
                    bindAction: '#save', //指向一个按钮触发上传
                    choose: function (obj)
                    {
                        //预读本地文件
                        var number = $('#colla_img').children().length
                        console.log(number)
                        if(number>0){
                            $('#showImg').remove()
                        }
                        obj.preview
                        (
                            function (index, file, result)
                            {
                                $('#loadinput').val(file.name); //展示文件名
                                $('#colla_img').append('<a href="#" onclick="openImg()"><img id="showImg" src="' + result + '" width="370px"></a>');
                            }
                        )
                    }
                }
            );
        }
    )
</script>
</body>

</html>