<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>案例表</title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>

<body>

<input th:value="${res}" id="error" type="hidden"/>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card" style="position: relative;">
                <div class="layui-card-header">案例表编辑</div>
                <div class="layui-card-body">
                    <div style="margin-top:20px">
                        <form class="layui-form" action="/updateData/editChargeById" method="post">
                            <input th:value="${id}" name="id" id="temp-id" type="hidden" />
                            <div class="layui-form-item">
                                <label class="layui-form-label">罪名分类</label>
                                <div class="layui-input-block" >
                                    <select lay-filter="test"  name="typeExpand" id="selectT" lay-verify="required">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">罪名名称</label>
                                <div class="layui-input-block">
                                    <select  name="chargeName" lay-verify="required" id="selectName">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">案例标题</label>
                                <div class="layui-input-block">
                                    <input type="text" id="title"  required lay-verify="required" name="title" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">案例介绍</label>
                                <div class="layui-input-block">
                                    <textarea required name="desc" id="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">办案过程</label>
                                <div class="layui-input-block">
                                    <textarea required name="process" id="process" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">结果</label>
                                <div class="layui-input-block">
                                    <textarea required name="result" id="result" placeholder="请输入内容" class="layui-textarea"></textarea>

                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">经验心得</label>
                                <div class="layui-input-block">
                                    <textarea required name="lessions" id="lessions" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">是否成功</label>
                                <div class="layui-input-block">
                                    <select  name="successFlag" id="successFlag" lay-verify="required">
                                        <option value=""></option>
                                        <option value="1">成功</option>
                                        <option value="0">失败</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                </div>
                            </div>
                        </form>
                        <a style="position: absolute;left: 250px;bottom: 25px;" href="/getPage/base/caseMgr"><button class="layui-btn layui-btn-primary">返回上一页</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 表单结束 -->

<script src="/layuiadmin/layui/layui.js"></script>

<script>
    var error = $('#error').val()
    var value = $('#temp-id').val()
    layui.use(['jquery','form','layer'], function() {
        var $ = layui.$, form=layui.form,layer=layui.layer;
        if(error!=''){
            layer.alert(error)
        }
        $.ajax({
            url:'/selectData/getLinkageDate',
            method:'get',
            success:function(data){
                var html = '';
                console.log(data)
                var len = data.data.length;
                for(var i = 0 ; i< len;i++){
                    html = html + '<option value="'+ data.data[i].chargeTypeName +'">'+ data.data[i].chargeTypeName +'</option>';
                }
                $('#selectT').html('').append(html)
                form.render('select')
                form.on('select(test)', function(realData){
                    $("#selectName").empty();
                    form.render('select')
                    console.log(realData.value)
                    for(var k = 0 ; k< len;k++){
                        if(data.data[k].chargeTypeName == realData.value) {
                            data.data[k].chargeNames.forEach(function(item,index){
                                var selectName = $('#selectName')
                                selectName.append('<option  id="hahah" value="'+ item +'">'+ item +'</option>')
                            });
                            form.render('select')
                        }
                    }
                });
            },
            error:function(data){
                alert(data)
            }
        })
        $.ajax
        (
            {
                url: '/selectData/getOneCaseById?id=' + value,
                type: "get",
                dataType: "json",
                success: function(data)
                {
                    document.getElementById("title").value = data.data[0].title;
                    document.getElementById('desc').value = data.data[0].desc;
                    document.getElementById('process').value = data.data[0].process;
                    document.getElementById('result').value = data.data[0].result;
                    document.getElementById('lessions').value = data.data[0].lessions;
                    document.getElementById('successFlag').value = data.data[0].successFlag;
                    form.render(select)
                }
            }
        );

    })
</script>

</body>

</html>