<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>留言列表</title>
	<link rel="stylesheet" href="/layuiadmin/layui/css/layui.css">
</head>

<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">团队成员列表</div>
				<div class="layui-card-body">
					<div class="demoTable" style="display: inline;">
						律师名:
						<div class="layui-inline" style="margin-right: 20px;">
							<input class="layui-input" name="lawyerName" id="demoReloadLaywer" autocomplete="off" placeholder="不填写默认搜索全部">
						</div>
						律师职称:
						<div class="layui-inline">
							<input class="layui-input" name="lawyerLevel" id="demoReloadlawyerLevel"  autocomplete="off" placeholder="不填写默认搜索全部">
						</div>
						<button class="layui-btn" data-type="reload">搜索</button>
					</div>
					<table class="layui-hide" id="test-table-toolbar" lay-filter="test-table-toolbar">
					</table>
<!--					<script type="text/html" id="imgTpl">-->
<!--						<img src="{{ d.lawyerImg }}">-->
<!--					</script>-->
					<script type="text/html" id="zizeng">
						{{d.LAY_TABLE_INDEX+1}}
					</script>
					<script type="text/html" id="test-table-toolbar-toolbarDemo">
						<div class="layui-btn-container">
							<a href="/getPage/base/addLwyer"><button class="layui-btn layui-btn-sm" >添加</button></a>
						</div>
					</script>

					<script type="text/html" id="test-table-toolbar-barDemo">
						<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/layuiadmin/layui/layui.js"></script>
<script>
	layui.config
    (
        {
		    base: '../../layuiadmin/' //静态资源所在路径
	    }
	).extend
    (
        {
		    index: 'lib/index' //主入口模块
        }
	).use
    (
        ['index', 'table', 'upload','jquery'],
        function()
        {
		    var admin = layui.admin;
			var	table = layui.table;
            var $ = layui.$;
            var upload = layui.upload;
		table.render
        ({
			elem: '#test-table-toolbar',
			url: '/selectData/lawyerPageData',
			toolbar: '#test-table-toolbar-toolbarDemo',
			title: '用户数据表',
			page:
            { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
				layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
				groups: 3 ,//只显示 1 个连续页码,
				limit: 10
			},
			cols:
            [
				[
				    {field:'zizeng', width:200, title: '编号', fixed: 'left', templet:'#zizeng'},
					{field: 'lawyerName', title: '律师名', width: 200},
                    {field: 'lawyerLevel', title: '律师职级', width: 200},
                    {field: 'introduction', title: '律师简介'},
                    {title: '操作', toolbar: '#test-table-toolbar-barDemo', width: 200}],
			],
            id:'testReload'
		});

        var $ = layui.$, active = {
            reload: function(){
                var demoReloadLaywer=$('#demoReloadLaywer');
                var demoReloadlawyerLevel = $('#demoReloadlawyerLevel')
                console.log(demoReloadLaywer)
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    url:'/selectData/lawyerPageData?name='+demoReloadLaywer.val()+'&level='+demoReloadlawyerLevel.val(),
                    method:"get"
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
		//头工具栏事件
		table.on('toolbar(test-table-toolbar)', function(obj) {
			var checkStatus = table.checkStatus(obj.config.id);
			switch(obj.event) {
				case 'getCheckData':
					var data = checkStatus.data;
					layer.alert(JSON.stringify(data));
					break;
				case 'getCheckLength':
					var data = checkStatus.data;
					layer.msg('选中了：' + data.length + ' 个');
					break;
			};
		});
		var uploadInst = upload.render({
			elem: '#test1' //绑定元素
			,
			url: '' //上传接口
			,
			auto: false //选择文件后不自动上传
			,
			bindAction: '#testListAction',
			done: function(res) {
				//上传完毕回调
			},
			error: function() {
				//请求异常回调
			}
		});

		// 监听行工具事件
		table.on('tool(test-table-toolbar)', function(obj) {
			var data = obj.data;
			if(obj.event === 'del') {
				layer.confirm('确定删除？', function(index) {
				    $.ajax({
                        url:'/deleteData/lawyer?id='+data.lawyerId,
                        method:'get',
                        success:function (data) {
                            if(data=="success"){
                                obj.del();
                                layer.close(index);
                                window.location.href="/getPage/base/personMgr";
                            }
                        }
                    })
				});
			} else if(obj.event === 'edit') {
			    console.log("test-------------------");
				window.location.href='/getPage/base/personEdit?id='+data.lawyerId;
			}
		});

	});
</script>
</body>

</html>