<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>添加用户</title>
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
	</head>

	<body>
		<form class="layui-form" style="margin-top: 20px;">
			<!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
			<div class="layui-form-item">
				<label class="layui-form-label">输入框</label>
				<div class="layui-input-block">
					<input type="text" name="" placeholder="请输入" style="width: 200px;" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">选择框</label>
				<div class="layui-input-block">
					<select name="city" lay-verify="required" style="width: 160px;height: 35px;">
						<option value="0" selected="selected">不限</option>
						<option value="1">男</option>
						<option value="2">女</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item" style="margin-left: 60px;">
				<label for="file">头像</label>
				<button type="button" class="layui-btn" id="test1" style="margin-left: 20px;">
  		<i class="layui-icon">&#xe67c;</i>上传图片
	</button>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">用户名</label>
				<div class="layui-input-block">
					<input type="text" name="" placeholder="请输入" style="width: 200px;" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">手机</label>
				<div class="layui-input-block">
					<input type="number" name="" placeholder="请输入" style="width: 200px;" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">单选框</label>
				<div class="layui-input-block">
					<input type="radio" name="sex" value="0" title="男" checked="checked">
					<input type="radio" name="sex" value="1" title="女" checked>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">IP</label>
				<div class="layui-input-block">
					<input type="number" name="" placeholder="请输入" style="width: 200px;" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
			<!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
		</form>
		<script src="../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.use(['form', 'upload'], function() {
				var form = layui.form,
					upload = layui.upload;
				var uploadInst = upload.render({
					elem: '#test1' //绑定元素
						,
					url: '' //上传接口
						,
					auto: false,
					done: function(res) {
						//上传完毕回调
					},
					error: function() {
						//请求异常回调
					}
				});

				//各种基于事件的操作，下面会有进一步介绍
			});
		</script>
	</body>

</html>